---
import { Image } from "astro:assets";
import type { ImageMetadata } from "astro";

interface Props {
    imageSrc: ImageMetadata;
    imageAlt: string;
    label: string;
    title: string;
    subtitle: string;
}

const { imageSrc, imageAlt, label, title, subtitle } = Astro.props;
---


<section
    class="h-44 w-full relative flex flex-col rounded-lg border overflow-hidden group"
>
    <Image
        src={imageSrc}
        alt={imageAlt}
        class="object-cover absolute size-full mask-[linear-gradient(to_bottom,black,transparent_80%)] group-hover:scale-110 transition-transform ease-in-out duration-300"
    />
    <section class="flex flex-col p-4 mt-auto relative z-10">
        <span class="text-[8px] uppercase text-muted-foreground">{label}</span>
        <span
            class="font-bold text-md group-hover:text-accent transition-colors ease-in-out duration-400"
            >{title}</span
        >
        <span class="text-xs opacity-60 text-muted-foreground">{subtitle}</span>
    </section>
</section>
